.rating
    height: 20px
    width: 100px
    background-color: rgba($orange, 0.4)
    position: relative
    display: inline-block

    .filler
        background-color: $orange
        height: 20px
        position: absolute

    .rating_text
        margin-left: 5px
        font-family: $sans
        position: absolute
        top: 1px
