/* width */
::-webkit-scrollbar
    width: 10px

/* Track */
::-webkit-scrollbar-track
    background: transparent

/* Handle */
::-webkit-scrollbar-thumb
    background: #555

/* Handle on hover */
::-webkit-scrollbar-thumb:hover
    background: #555