@import "components/_variables"
@import "components/_scrollbar"
    
body
    background-color: #ffffff
    margin: 0px
    overflow: hidden

    a
        color: $orange
        text-decoration: none
        outline: none

@import "components/main/_main"
@import "components/navigation/_nav"
@import "components/sections/_sections"
@import "components/sections/technical/_rating"
@import "components/_buttons"

@import "components/main/_responsive"